@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Html helpers</h1>
</div>


<h3>This is from the App_Code Folder</h3>
@MyHelper.JamessTextBoxCombo()

    
       
        
        
   